Thumbs.db
.DS_Store
.gradle
build/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.metadata
RemoteSystemsTempFiles
.link_to_grails_plugins
target
target-eclipse
*.class
*.zip
*.zip.sha1
*.class
Servers
node_modules
grails-app/assets/bower/
*.log
src/test/
gradle/